body {
    font-family: 'Nunito Sans', sans-serif;
}
.header { 
    max-width: 1300px;
    background-color: rgb(191, 238, 238);
    margin: 0 auto;
}
h1 {
    color: blue;
    text-align: center;
    font-weight: 900;
}
li {
    list-style-type:none
}

ul {
    padding-left: 0%;
}

main {
    max-width: 1300px;
    background-color: rgb(191, 238, 238);
    margin: 0 auto;
}
p {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}